<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".application.EasyDictApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyDict"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">
        <meta-data
            android:name="android.app.WallpaperSupport"
            android:value="true" />
        <activity
            android:name=".ui.activity.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.wordbook.WordBookActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.web.WebActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.photoview.PhotoViewActivity"
            android:exported="false"
            android:theme="@style/Theme.EasyDict.PhotoViewTheme" />
        <activity
            android:name=".ui.activity.daysentence.DaySentenceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.wordlist.WordListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.grammarcheck.GrammarCheckActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.qxtao.easydict.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.activity.dict.DictActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>